 body {
     background-color: rgb(226, 238, 248);
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     padding: 0;
     margin: 0;
 }

 .random-pass {
     padding: 40px;
     box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.253);
     background-color: azure;
     text-align: center;
     border-radius: 10px;
     height: 300px;
 }
 input{
    padding: 10px;
    width: 150px;
    border-radius: 5px;
 }
 .btn{
    padding: 10px;
    width: 150px;
    border-radius: 5px;
 }
 #showPassword{
    margin-top: 20px;

 }

 